<h3>Hello <%= @user.username %>, here are your previous Takeaway Pizza Reviews.</h3>
<br>
<% if @user.reviews.empty? %>
    <p>It looks like you haven't written any reviews yet!</p>
    <p>Why not write one today?</p>
<% else %>
    <% @user.reviews.sort{|a,b| b.created_at <=> a.created_at}.each do |review| %>
        <strong><%= review.takeaway_pizza.name %> (<%= review.takeaway_pizza.address %>)</strong> 
        <br>
        <small>
            <%= review.created_at.to_s.split(" ")[0].split("-").reverse.join("-") %>
            <a href="/reviews/<%= review.id %>">View</a>
        </small>
        <br><br>
    <% end %>
<% end %>
<br>
<a href="/reviews/new">
    <strong>Write a new Takeaway Pizza Review</strong>
</a>
<br>
