<h3>Hello <%= @user.username %>. An exciting world of Takeaway Pizza awaits you!</h3>
<br><br>
<% if @user.reviews.empty? %>
    <p>Ready to write your first ever Takeaway Pizza Review? Click<a href="/reviews/new">here!</a></p>
<% else %>
    <p>Here are your previous Takeaway Pizza reviews:</p>
    <% @user.reviews.sort{|a,b| b.created_at <=> a.created_at}.each do |review| %>
        <strong><%= review.takeaway_pizza.name %> (<%= review.takeaway_pizza.address %>)</strong> 
        <br>
        <small>
            <%= review.created_at.to_s.split(" ")[0].split("-").reverse.join("-") %>
            <a href="/reviews/<%= review.id %>">View</a>
        </small>
        <br><br>
    <% end %>
    <br>
    <p>Write a new Takeaway Pizza Review <a href="/reviews/new">here.</a></p>
<% end %>
