<h3>All Reviews by all Users</h3>
<br>
<% @takeaway_pizzas.each do |takeaway_pizza| %>
    <strong><%= takeaway_pizza.name %> (<%= takeaway_pizza.address %>)</strong>
    <br>
    <% takeaway_pizza.reviews.sort{|a,b| b.created_at <=> a.created_at}.each do |review| %>
        <small>
            Reviewed by <% if review.user == current_user %>
                you
            <% else %>
                <%= review.user.username %>
            <% end %>
            on 
            <%= review.created_at.to_s.split(" ")[0].split("-").reverse.join("-") %>            
            <a href="/reviews/<%= review.id %>">View</a>
        </small>
        <br>
    <% end %>
    <br>
<% end %>

<a href="/reviews/new">
    <strong>Write a new Takeaway Pizza Review</strong>
</a>
<br>