<%= @review.takeaway_pizza.name%> <%= @review.created_at %>
<br>
<%= @review.content %>
<br><br>
<% if @review.user == current_user%>
    <a href="/reviews/<%= @review.id %>/edit">Edit</a>
    <br>
    <a href="/reviews/<%= @review.id %>/delete">Delete</a>
<% end %>

<p>Go to your reviews <a href="/users/<%= current_user.id %>">here</a></p>
<p>Return to the reviews <a href="/reviews">here</a></p>
<p><a href="/logout">Logout</a></p>
