<h3><%= @review.takeaway_pizza.name%></h3>

<p><small><%= @review.created_at.to_s.split(" ")[0].split("-").reverse.join("-") %> - <%= @review.user.username %>
    <% if @review.user == current_user%>
        <a href="/reviews/<%= @review.id %>/edit">Edit</a>
        <a href="/reviews/<%= @review.id %>/delete">Delete</a>
    <% end %>
</small></p>

<p><%= @review.content %></p>
<br>